*.pyc
test/test_out/*
svSupport/test/*
svSupport/__pycache__
__pycache__/
svSupport/test/test_out/*
!.gitignore
*_config.txt
*_svSupport.txt
data/*
out/*
.Rproj.user
.Rhistory
.cache
.idea
.pytest_cache
svSupport.Rproj
svSupport.egg-info
